<!DOCTYPE html>
<!--
xmlns:th="http://www.thymeleaf.org"
Thyme leaf 命名空间，通过引入该命名空间就可以在HTML 文件中使用Thymeleaf 标签语言，用关键字“ th ” 来标注。
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 模板</title>
</head>
<body>
    <!--/*@thymesVar id="text" type="com"*/-->
    <!--/*@thymesVar id="href" type="com"*/-->

    <input th:id="${text}" th:name="${text}" th:value="${text}" th:type="text"/>
    <a th:href="${href}" th:text="${text}">点击链接</a>
</body>
</html>